* {
    margin: 0;
    padding: 0;
}

 :root {
    --googleblue: #4285F4;
    --googlered: #DB4437;
    --googleyellow: #F4B400;
    --googlegreen: #0F9D58;
    --googlegrey: #757575;
    --googlegreylight: #E0E0E0;
}

.logo {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.switch {
    position: relative;
    margin-left: 25px;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--googlegreen);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 2px;
    background-color: var(--googlegreylight);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: black;
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--googleblue);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.nav-list {
    @apply text-ellipsis font-mono font-medium m-4;
}

.menu-options {
    font-size: larger;
}

.footer {
    background-image: url(./assets/animation_gdsc.webp);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 90px;
}


/* Hero Section  */

.hero-section {
    min-height: 65vh;
    background-image: url("./images/hero-img.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-section {
    height: 100vh;
    box-shadow: 0px -18px 34px -41px;
}


/* Header Section  */

.branding-img {
    background-image: url("./images/gdsc-branding.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
    width: 350px;
    height: 130px;
}

.header-section .container {
    padding: 5rem;
}

.header-section h1 {
    margin-top: 50px;
    text-align: center;
}

.header-section p {
    /* padding : 30px 50px 20px 0px; */

    line-height: 1.9em;
    text-align: center;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}